:root {
  --light-pink: #f6bbb7;
  --hover-pink: #efb6b1;
  --lighter-pink: #f6bbb76e;
  --dark-pink: #e5645e;

  --padding-x: 2vw;
  --padding-y: 1vw;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffecc9;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#canvas {
  /* my macbook screen width */
  width: 100vw;
  height: 55vw;
  padding: var(--padding-y) var(--padding-x);
  overflow: hidden;
  position: relative;
  border: 1px black solid;
}

.box {
  width: 15vw;
  height: 25vw;
  background: var(--light-pink);
  padding: 1vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2vw;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.frame {
  width: 90%;
  height: 4vw;
  background: var(--dark-pink);
  animation: fadein 0.3s;
}

.carried-frame {
  position: relative;
  /* put on top of the cat */
  bottom: 5vw;
}

.frame > p {
  color: white;
  text-align: center;
  padding: 1vw 0;
}

.boxes-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#event-queue-wrapper {
  position: absolute;
  right: var(--padding-x);
  bottom: var(--padding-y);
}

#event-queue {
  padding: 2vw;
  width: 48vw;
  height: 8vw;
  background: var(--light-pink);
  display: flex;
  gap: 2vw;
  align-items: center;
}
#event-queue > div {
  max-width: 10vw;
}

#event-loop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  /* might have to change this? */
  top: 5vw;
}

#event-loop > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

#loaf {
  width: 65%;
  height: 65%;
}

#loop {
  width: 100%;
  height: 100%;
  /* animation: 3s infinite linear rotate; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#order-loaf {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--lighter-pink);
  border: 2px solid var(--dark-pink);
  border-radius: 5px;
  cursor: pointer;
  width: 10vw;
  height: 8vw;
  margin: auto;
}

#order-loaf:hover {
  background: var(--hover-pink);
}

img {
  max-width: 80%;
  max-height: 80%;
}

p {
  font-family: monospace;
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 1.5vw;
}

#chef-loaf {
  position: absolute;
  width: 12vw;
  right: 0;
}
